@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    font-family: 'TheJamsil5Bold';
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.item {
    padding: 10px;
}

.hidden{
    display: none;
}
#greeting{
    font-size: 80px;
}
#darkMode{
    position: fixed;
    font-size: 25px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    left: 0;
    top: 0;
    padding: 10px;
}
body::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
input{
    background: none;
    color: black;
    border: 0;
}
button{
    background: none;
    color: black;
    border: 0;
}
#day{
    background-color: white;
    color: rgb(36,36,36);
}
#dark{
    background-color: rgb(36,36,36);
    color: white;
}
#clockTab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}

#logOut, #timerSubmit, #quitButton, #clockMode{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
}
.center{
    text-align: center;
}
#title{
    font-size: 120px;
    margin: 20px;
}
#clock{
    font-size: 150px;
    margin:0px;
}
ul{
    padding: 0;
}
#logOut {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
}
footer{
    position: fixed;
    bottom: 0;

}

body {
    display: grid;
    grid-template-areas: 
      "greetingTab"
      "clockTab"
      "container";
    grid-template-rows: 200px 2fr 300px
  }
  
  #greetingTab {
    padding-top: 30px;
    grid-area: greetingTab;
  }
  
  #clockTab {
    grid-area: clockTab;
  }
  
  .container {
    grid-area: container;
  }
  
  